#mealName {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.container {
  margin-top: 50px;
}

.card img {
  padding-top: 10px;
}
.card {
  border-radius: 10px;
  margin: 10px;
}
.cardDetails {
  display: block;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid green;
  padding-top: 10px;
}

.form-control {
  background-color: rgba(22, 207, 16, 0.2);
  padding: 12px;
  border: 2px solid green;
  border-radius: 25px;
}
.btn {
  border-radius: 1.5rem;
  padding: 9px 20px;
}
.search-box {
  position: relative;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
